body {
    background-image: url('../images/bg-intro-desktop.png');
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

#submit {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.main-container {
    position: relative;
    height: 60vh;
    width: 77vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;

}

.first-container {
    color: white;
}

.header {
    font-size: 60px;
    font-weight: 700;
    width: 80%;
}

.paragraph {
    font-weight: 400;
}

.first-container,
.second-container {
    margin: auto;
}

.card1 {
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: auto;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}


.second-container {
    height: auto;
}

.paragraph1 {
    width: fit-content;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.card2 {
    max-height: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);

}


.content {
    width: 80%;
    border: solid 0.5px ;
    border-radius: 3px; 
    margin: 2%;
    padding: 5%;
    font-weight: 700;
    color: hsl(249, 10%, 26%);
}

.error-icon {
    position: absolute;
   
}

.content:focus {
    border: 1.5px solid hsl(248, 32%, 49%); 
    outline : none;
}

.content-error:focus, .content-error{
    border: 2px solid red;
    outline: none;
}

.submit {
    display: block;
    background: hsl(154, 59%, 51%);
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 91%;
    border: solid 0.5px;
    border-radius: 3px;
    margin: 2% auto auto;
    padding: 5%;
    font-weight: 700;
    color: white;
    transition: 0.1s ease;

}

.submit:active {
    transform: translateY(7%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
.third-paragraph {
    font-weight: 200;
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    width: fit-content;
    margin: 10px auto auto ;

}

.displayNone{
    display: none;
}


@media (max-width: 768px) {

    body {
        min-height: fit-content;
        height: 800px;
        text-align: center;

    }

    .header {
        margin: auto;
        font-size: 30px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }


}